body {
	font-family: 'Bangers', cursive;
	background-color: #ffe07a;
	line-height: 1.5;
	background-image: url(../images/putinYellow.png);
	background-size: 15%;
}



header {
	box-sizing: border-box;
	width: 100%;
	background-color: #EE6B10;
	margin: 0 0 10px 0;
	border: 6px solid #8F421C;
	font-size: 2.4em;
	text-align: center;
	line-height: 1;
}

footer {
	text-align: center;
	padding: 40px 0 20px 0;
	font-size: .5em;
}

table {
	width: 100%;
}

td {
	text-align: center;
}

tr {
	width: 100%;
}


button {
	font-family: 'Bangers', cursive;
	font-size: .8em;
}

h2 {
	font-family: 'Bangers', cursive;
	text-decoration: underline;
}

.blank {
	margin: auto;
}

.panelOne, .panelThree {
	font-size: .8em;
/*	font-weight: 200;*/
	width: 30%;
	height: 280px;
	font-family: 'Bangers', cursive;
	padding: 0 5px;
}

.panelTwo {

	width: 40%;
	height: 280px;

}

#blanks {
 	text-align: center;
}

#stump {
	width: 140px;
	height: 140px;
}

#trumpTop {
	width: 150px;
	height: 150px;
}

#trumpBottom {
	width: 50%;
	height: 50%
	margin: 20px;
}
.gameTitle {
	text-align: center;
	font-size: 1.8em;
	margin: auto;
}

#trumpSays {
	font-size: 1em;
/*	line-height: 0 !important;*/
/*	padding: 0 5px 40px 5px;*/
	font-family: "Just Me Again Down Here", cursive;
	color: red;
}

#trumpContainer {
	width: 10%;
}

.gameRow {
	width: 100%;
}
